/* **BACKGROUND IMAGE** */
html{
    
    background-image: url('/..../../../../images/background_2.png');
    background-position: center center;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed; 
    
}


header{
  font-family: sans-serif;
  margin-bottom: 60px;
  text-align: center;  
  color: #A05C7B;
}

 body{
  margin: 0;
}  

main {
  margin: auto;
  width: 80%;
}

h1{
  background-color: #FFD4CA;
  margin: 0;
  margin-bottom: 1em;
  padding: 0.25em;
  text-align: center;
  text-shadow: 1px 1px 1px #333;
  width: 100%;
  font-family: sans-serif;

}

h3{
     color: #62A87C;
    text-shadow: 1px 1px 3px #333;
    font-family: sans-serif;
    font-weight: bolder;
    text-align: center;
}

/* **FORM** */
h2{
    color: #62A87C;
    text-shadow: .5px .5px .5px #333;
    font-family: sans-serif;
    font-weight: bolder;    
}


.addTaskSection {
  background-color: #A05C7B;
  opacity: .85;
  border-radius: 0.25em;
  box-shadow: 3px 4px 5px #D1B7A5;
  margin-bottom: 2em;
  padding: 1.5em;
  font-family: sans-serif;
}

/* **TABLE** */

button {
  border-radius: 0.5em;
  box-shadow: 1px 2px 3px #D1B7A5;
  margin: 5px 5px;
  padding: 0.5em;
  color: black;
  font-family: sans-serif;
}

table {
border-collapse:collapse; 
box-shadow: 3px 4px 5px #D1B7A5;

background-color:#F2E5D7;
width: 100%;
object-position: center;
}

th{
    background-color: #FFD4CA; 
    color: #222222;
    font-family: sans-serif;
}

th, td {
    border: 1px solid black;
    text-align: center;
    width: 25%;
    top: 20px;  
    left: 20px;
    font-family: sans-serif;
    
}

/* **CLASSES** */
.red{
    background-color: #A05C7B;
}

.green{
    background-color:#62A87C;
}

/* **FOOTER** */
.footer{
  background-color: #FFD4CA;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #A05C7B;
  text-align: center;
  font-family: sans-serif; 
  font-size: small;
}