/* **BACKGROUND IMAGE** */
html{
    
    background-image: url('/..../../../../images/background_2.png');
    background-position: center center;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed; 
    
}


header{
  /* background-color: ivory;
  opacity: .5; */
  font-family: sans-serif;
  margin-bottom: 60px;
  text-align: center;  
}

 body{
  margin: 0;
}  

main {
  margin: auto;
  width: 80%;
}

h1{
 background-color: #FFD4CA;
  margin: 0;
  margin-bottom: 1em;
  padding: 0.25em;
  text-align: center;
  text-shadow: 1px 1px 3px #333;
  width: 100%;
  font-family: sans-serif;

}

h2{
    color: #62A87C;
    font-family: sans-serif;
}

.addTaskSection {
  background-color: #FFD4CA;
  opacity: .85;
  border-radius: 0.25em;
  box-shadow: 3px 4px 5px #D1B7A5;
  margin-bottom: 2em;
  padding: 1.5em;
  font-family: sans-serif;
}
/* 
**TABLE** */
table {
border-collapse:collapse; 
background-color: tan;
width: 50%;
object-position: center;
}

tr {
    background-color: navajowhite;
}

th, td {
    border: 1px solid black;
    text-align: center;
    width: 25%;
    top: 20px;  
    left: 20px;
    
}
.red{
    background-color:  red;
}

.green{
    background-color:green;
}